<div class="nav-bar">
  <h1 class="nav-logo">NEO TRACK</h1>
  <div class="nav-links">
    <a href="/" class="nav-link">TODAY</a>
    <a href="/browse" class="nav-link">BROWSE</a>
  </div>
</div>
<hr class="nav-bar-hr">