<ul>
  <li>Near Earth Object Count: <%= stats.near_earth_object_count %></li>
  <li>Close Approach Count: <%= stats.close_approach_count %></li>
  <li>Last Updated: <%= stats.last_updated %></li>
  <li>All data courtesy of the <a href='http://neo.jpl.nasa.gov/'>NASA JPL NEO team.</a></li>
</ul>