body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 100;
  text-align: center;
}

/* =========================================================== */
/* COLORS */

.bg-primary {
  background-color: rgb(32, 114, 196);
}

.text-white {
  color: white
}

/* =========================================================== */
/* TEXT ALIGNMENT */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


/* =========================================================== */
/* PAGINATION */

.pagination-control {
  /* Center the pagination links horizontally on the page */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;

  margin: 2em 0;
}

.pagination-link {
  background-color: white;
  box-shadow: 0 0 4px rgb(220, 220, 220);
  color: black;

  text-decoration: none; /* Remove underline */
  font-size: 1em;  

  /* Circle background */
  line-height: 2.5em;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;

  /* Animation */
  transition: 0.3s;
}

.pagination-link.selected:hover {
  opacity: 0.8;
}

.pagination-link:hover {
  background-color: aliceblue;
}

.pagination-link.selected {
  /* Link for current page is shown as white text on blue circle */
  background-color: rgb(32, 114, 196);
  border-color: white;
  color: white;
}

/* =========================================================== */
/* TABLES */

table {
  border-collapse: collapse;
  box-shadow: 0 0 8px rgb(220, 220, 220);

  margin: 0 auto;
}

th {
  padding: 8px 32px;
}

tr {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: aliceblue;
}

td {
  font-size: 1em;
  font-weight: lighter;
  padding: 16px 32px;
  text-align: center;
}

/* TAGS */

.tag {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;

  color: white;
  background-color: lightgray;
  box-shadow: 0 0 4px rgb(182, 182, 182);
  
  /* Rectangular background */
  border-radius: 4px;
  width: 48px;
  line-height: 28px;
  margin: auto;
}

.tag.hazardous {
  background-color: #ed3333;
}