<!DOCTYPE html>
<html>
<head>
  <title>NEO Tracker</title>
  <%- include('../partials/style-headers.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <h2>Today's Close Approaches</h2>
  <%- include('../partials/today-table.ejs') %>
</body>
</html>