<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Today</h1>
    <%- include('../partials/neo-table.ejs') %>
    <hr>
    <%- include('../partials/stats.ejs') %>
</body>
</html>