<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>
        This is our home page.<br/>
        Welcome <%= name %>, to our home page.
    </h1>
</body>
</html>