<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs') %>
<body>
  <%- include('../partials/nav-bar.ejs') %>
  <%- include('../partials/today-table.ejs') %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>