<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include('../partials/style-headers.ejs') %>
</head>
<body>
  <h1>Today</h1>
  <%- include('../partials/today-table.ejs') %>
  <hr>
  <%- include('../partials/stats.ejs') %>
</body>
</html>